/* custom-datepicker.css */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  background-color: #fff;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 100px;
}

.react-datepicker__header {
  background-color: #f5f5f5;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  color: black;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: black;
}
