.bg-image {
  background-image: url("https://elearning2.sut.ac.th/pluginfile.php/1/theme_suranaree/night_mainbgimg/1733990438/E_learing%20art_Night%2016_9_min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-position 0.5s ease;
}
.border-0 {
  border: 0 !important;
}

@media (max-width: 1200px) {
  .bg-image {
    background-position: left center;
  }
}

@media (max-width: 768px) {
  .bg-image {
    background-position: center left 20%;
  }
}

@media (max-width: 480px) {
  .bg-image {
    background-position: center left 20%;
  }
}
